@use "../../../styles/variables" as *;

.projectCarousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    &__body {
        display: block;
        width: 80%;
        height: 90%;
        margin: 0 1rem;
    }
    &__arrow {
        display: block;
        height: 3rem;
    }
}

@media (max-width: 30rem) {
    .projectCarousel {
        width: 105%;
        &__body {
            height: 75%;
        }
    }
}
