
//colours

$color-primary: #1f568e;
$color-secondary: #27bbfade;

$color-nav: #d5d5d2;
$color-body: #f2f2ee;
$color-box-shadow: rgba(197, 195, 195, 0.863);
$color-text-shadow: #8e8e8e;

$color-white: #fafafa;
$color-black: #000000;