//colours

$color-primary: #66fcf1;
$color-secondary: #127373;

$color-nav: #90ccf4;
$color-body: #19181a;
$color-box-shadow: #6e6e6e;
$color-text-shadow: #524b4b;
$color-lightText: #c5c6c7;
$color-focus: #5280dc;
$color-text: #b19f9e;

$color-white: #ffffff;
$color-black: #000000;
