//colours

$color-primary: #162065;
$color-secondary: #2165a9;

$color-nav: #e3cfc1;
$color-body: #afd3da;
$color-box-shadow: #a0bdc3;
$color-text-shadow: #8e8e8e;
$color-lightText: #e5dddd;

$color-white: #ffffff;
$color-black: #000000;
