@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.home__text--name {
    font-family: $font-heading;
    color: $color-text;
    text-shadow: 0.2rem 0.2rem $color-text-shadow;
}
