.landing {
    display: flex;
    justify-content: center;
    position: relative;
    left: 12%;
    height: 84vh;
    width: 88%;
    // padding-left: 8rem;
    .landing__intro {
        display: flex;
        position: relative;
        left: 15%;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10rem;
        &--text {
            margin: 0.6rem 0;
            width: 100%;
        }
        &--subtext {
            margin: 0.3rem 0;
            width: 100%;
        }
    }
    .landing__imageContainer {
        height: 90%;
        width: 100%;
        &--image {
            height: 90%;
            width: 100%;
        }
    }
}