.landing {
    display: flex;
    justify-content: center;
    position: relative;
    left: 12%;
    height: 84vh;
    width: 88%;
    .landing__intro {
        display: flex;
        position: relative;
        left: 14%;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        &--text {
            margin: 0.6rem 0;
            width: 100%;
        }
        &--subtextTop {
            margin-top: 5rem;
            width: 100%;
        }
        &--subtextBottom {
            margin: 0.3rem 0;
            width: 100%;
        }
    }
    .landing__imageContainer {
        height: 90%;
        width: 100%;
        &--image {
            height: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 1440px) {
    .landing {
        height: 78vh;
        .landing__intro {
            left: 10%;
            top: 3%;
            &--text {
                margin: 0.5rem 0;
            }
            &--subtextTop {
                margin-top: 2.5rem;
            }
            &--subtextBottom {
                margin: 1rem 0;
            }
        }
    }
}

@media (max-width: 1280px) {
    .landing {
        height: 79vh;
        .landing__intro {
            left: 10%;
            top: 3%;
            &--text {
                margin: 0.5rem 0;
            }
            &--subtextTop {
                margin-top: 2.5rem;
            }
            &--subtextBottom {
                margin: 1rem 0;
            }
        }
    }
}

@media (max-width: 1024px) {
    .landing {
        height: 71vh;
        .landing__intro {
            left: 12%;
            top: 5%;
            &--text {
                margin: 0.5rem 0;
            }
            &--subtextTop {
                margin-top: 2.5rem;
            }
            &--subtextBottom {
                margin: 1rem 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .landing {
        left: 0;
        width: 100%;
        height: 78.5vh;
        .landing__intro {
            left: 4%;
            width: 70%;
            margin-bottom: 0;
            &--text {
                position: relative;
                z-index: 1;
                margin: 0.6rem 0;
                width: 100%;
            }
            &--subtextTop {
                position: relative;
                z-index: 1;
                margin: 2.6rem 0 0 0;
                width: 100%;
            }
            &--subtextBottom {
                position: relative;
                z-index: 1;
                margin: 0.6rem 0;
                width: 100%;
            }
        }
        .landing__imageContainer {
            margin-top: 2.5rem;
            &--image {
                position: fixed;
                height: 70%;
                width: 100%;
                left: 22%;
            }
        }
    }
}

@media (max-width: 385px) {
    .landing {
        left: 0;
        top: 20vh;
        height: 80vh;
        width: 100%;
        .landing__intro {
            left: 0;
            position: relative;
            top: -5%;
            width: 100%;
            align-items: center;
            &--subtextTop {
                margin-top: 5rem;
            }
        }
        .landing__imageContainer {
            display: none;
        }
    }
}
