@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.landing__intro {
    &--text {
        color: $color-text;
        font-family: $font-main;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 0.125rem 0.125rem $color-text-shadow;
    }
    &--subtextTop {
        color: $color-text;
        font-family: $font-main;
        font-size: 1.2rem;
    }
    &--subtextBottom {
        color: $color-text;
        font-family: $font-main;
        font-size: 1.2rem;
    }
}

@media (max-width: 62rem) {
    .landing__intro {
        &--text {
            font-size: 1.4rem;
        }
        &--subtextTop {
            font-size: 1rem;
        }
        &--subtextBottom {
            font-size: 1rem;
        }
    }
}
