.card {
  // position: relative;
  // display: grid;
  // grid-template-columns: repeat(3, minmax(0.8rem, 1fr));
  // grid-template-rows: repeat(2, minmax(0.8rem, 1fr));
  // column-gap: 2rem;
  // row-gap: 2rem;
  // height: 50vh;
  // width: 30vw;
  .card__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
