@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.card__description--text {
    color: $color-text;
    font-size: 1.2rem;
    font-family: $font-main;
    font-weight: 500;
}

.card__body {
    &--language {
        color: $color-text;
        font-size: 1rem;
        font-family: $font-link;
    }
    &--name {
        color: $color-text;
        font-size: 1.8rem;
        font-family: $font-heading;
    }
}

.card__cross:hover {
    transform: scale(1.4);
}

@media (max-width: 43rem) {
    .card__description--text {
        font-size: 0.8rem;
    }
    .card__body {
        &--language {
            font-size: 0.8rem;
        }
        &--name {
            font-size: 1.2rem;
        }
    }
}
