@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.card__description--text {
  font-size: 1.2rem;
  font-family: $font-main;
  font-weight: 500;
}

.card__body {
  &--language {
    font-size: 1rem;
    font-family: $font-link;
  }
  &--name {
    font-size: 1.8rem;
    font-family: $font-heading;
  }
}

.card__cross {
  background-color: $color-secondary;
}
