.projects {
    position: relative;
    left: 12%;
    top: 15vh;
    width: 88%;
    .projects__header {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
        &--text {
            margin-top: 0.3rem;
        }
    }
    .projects__container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, minmax(0.8rem, 1fr));
        grid-template-rows: repeat(2, minmax(0.8rem, 1fr));
        column-gap: 2rem;
        row-gap: 2rem;
        height: 80vh;
        width: 80vw;
        margin-left: 5.5rem;
    }
    .projects__carousel {
        display: none;
    }
}

@media (max-width: 1440px) {
    .projects {
        left: 8%;
        height: 84vh;
        width: 92%;
        .projects__container {
            height: 75vh;
        }
    }
}

@media (max-width: 1024px) {
    .projects {
        left: 6%;
        top: 17.5vh;
        height: 80vh;
        width: 90%;
        .projects__header {
            margin-left: 2rem;
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .projects {
        left: 0;
        top: 16vh;
        width: 100%;
        .projects__container {
            margin-left: 1rem;
            width: 92vw;
        }
    }
}

@media (max-width: 385px) {
    .projects {
        margin-top: 0.2rem;
        left: -2rem;
        top: 20vh;
        height: 76vh;
        width: 100%;
        .projects__container {
            display: none;
        }
        .projects__carousel {
            display: contents;
            position: relative;
            height: 60vh;
            width: 95%;
        }
    }
}
