@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.projects__header--text {
    color: $color-text;
    font-family: $font-heading;
}

@media (max-width: 385px) {
    .projects__header--text {
        font-size: 1.75rem;
    }
}
