@use "../../../styles/variables" as *;
@use "../../../styles/typography" as *;

.nav {
    &__link {
        background-color: $color-nav;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 800;
        font-family: $font-link;
        color: $color-secondary;
    }
    &__link:hover {
        text-shadow: 0.2rem 0.2rem $color-lightText;
        color: $color-focus;
    }
}

@media (max-width: 768) {
    .nav {
        &__link {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 376px) {
    .nav {
        &__link {
            font-size: 1rem;
            font-weight: 200;
        }
    }
}
