@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.about__body--text {
    color: $color-text;
    // background-color: $color-nav;
    font-size: 1.25rem;
    font-family: $font-main;
    color: $color-lightText;
}
