@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.about__body--text {
    color: $color-text;
    font-size: 1.25rem;
    font-family: $font-main;
    color: $color-lightText;
}

@media (max-width: 43rem) {
    .about__body--text {
        font-size: 1.1rem;
    }
}
